[2013-08-12 14:00] zcorpan opened #1 "License"
https://github.com/nolanw/HTMLReader/blob/master/HTMLReader.podspec#L6 says public domain, https://github.com/nolanw/HTMLReader/blob/master/Code/HTMLAttribute.h#L6 says All rights reserved. Which is it?

[2013-08-12 17:39] #1 closed, assigned to nobody

[2013-08-23 01:37] typedrat opened #4 "HTMLReader fails to find any children for SA's body"
That was something of its original genesis, was it not?

`NSString *page = [NSString stringWithContentsOfFile:@"/Users/jwilliams/sa_index.html"                                          encoding:NSUTF8StringEncoding error:nil];
HTMLDocument *doc = [HTMLDocument documentWithString:page];
HTMLElementNode *html = doc.childNodes[0];
NSLog(@"%@", html.childNodes);`

Copy of SA's main page I'm testing wi

[2014-03-16 13:58] #4 closed, assigned to nobody

[2014-05-20 01:18] bagusflyer opened #5 "Parse contents of a web page"
Is it possible parse the contents of a html page based on the url link? Thanks

[2014-05-27 00:46] #5 closed, assigned to nobody

[2014-07-17 16:35] gclsoft opened #6 "How to get css file's style from object c? Is there a demo project?"
[code]

I wanna get the css file's `.i-AED`'s `background-position` attribute in object-c code

[2014-07-18 05:16] #6 closed, assigned to nobody

[2014-09-03 03:20] renfeisong opened #8 "Ability to insert/remove a node?"
Will HTMLReader support manipulation of HTML documents in the future, such as inserting or deleting a node?

BTW, thanks for such brilliant parser, Nolan.

[2014-09-13 21:48] SamusAranX opened #9 "Getting an element by ID"
Can I somehow get an element by its ID with HTMLReader?
If I can, I can't find it in the code.

[2014-09-13 22:45] #9 closed, assigned to nobody

[2014-10-12 03:30] eduardorochabr opened #10 "Warnings on HTMLOrderedDictionary"
HTMLOrderedDictionary gives warnings about "designated initializers" on constructors from line line 46 to 55.

This method declaration in the header file fixes this:
- (instancetype)initWithCapacity:(NSUInteger)numItems NS_DESIGNATED_INITIALIZER;

[2014-10-12 09:21] #10 closed, assigned to nobody

[2014-11-10 08:00] mmmminimal opened #11 "Memory leaks on ARC"
While implementing the log output on init and dealloc methods in all of classes,
I found dealloc method is not called in some of the classes and it causes possible memory leaks.

The classes dealloc is not called are below.
- HTMLDocument
- HTMLDocumentType
- HTMLComment
- HTMLElement
- HTMLMarker
- HTMLTextNode

Hou can I fix this?

My test code is like this.

[code]

[2014-11-11 07:52] #11 closed, assigned to nobody

[2014-11-16 20:35] wildthink opened #12 "Xcode Framework - needs headers to build"
Including the HTMLReader.framework in another Xcode projects results in an inability to compile because some HTMLReader headers are not found. Making them public in the HTMLReader project fixes the issues.

Namely, the headers are
 HTMLDocumentType.h
 HTMLElement.h
 HTMLNamespace.h
 HTMLQuirksMode.h

[2014-11-20 15:30] xiaoer371 opened #13 "With textContent ."
hi ,
 thank you your code.
now  I use it in my project.
my code low-level .
 I have a problem: I can get textContent (观音山商务区站)  by  ' NSArray *array =[document nodesMatchingSelector:@"a"]; '
but  I want to get  other textContent  --> (1辆开往) .
How do I do?
help me.
HTML like:

<div class="list-bus-station list-even" onclick="javascript:window.location.href='/RealtimeQuery?lineId=155&amp;direction=1

[2014-11-21 18:52] #13 closed, assigned to nobody

[2015-01-06 08:31] #8 closed

[2015-01-06 08:31] #12 closed

[2015-01-30 12:30] igrekde opened #15 "Creating self-enclosing HTMLElement"
Hi!
I'm trying to create a self-enclosing HTMLElement - the <link href="composition.css" rel="stylesheet" type="text/css"/> one. Is there any way to do it?

[2015-01-30 18:20] nolanw commented on #15
Nope. A total oversight on my part. Let me get into it!

[2015-01-31 01:33] nolanw commented on #15
Actually, I think what you're looking for already works. The elements that are always self-enclosing (aka. [void elements](https://html.spec.whatwg.org/multipage/syntax.html#void-elements)) work just fine:
[code]
Some elements have an [optional end tag](https://html.spec.whatwg.org/multipage/syntax.html#syntax-tag-omission) (like `<li>` or `<p>`), but there isn't any advantage I can see to dealing

[2015-01-31 19:18] igrekde commented on #15
@nolanw thanks a lot for pointing me at html specs :) I was sure that **/** is obligatory.

And thanks for a great lib!

[2015-01-31 19:38] nolanw commented on #15
You're most welcome!

[2015-01-31 19:38] #15 closed

[2015-03-16 00:13] joscha-alisch opened #17 "Selector with or"
Hey,

i'm trying to get some elements via the selector (@".class1, .class2"), to get elements that either have class1 or class2. But it doesn't work. I get the following Parsing Error:

    Attempted to use selector with error: Error Domain=HTMLSelectorErrorDomain Code=1 "Expected a
    combinator here" UserInfo=0x6100000f2f80 {NSLocalizedFailureReason=Error near character 7:
    Expected a combin

[2015-03-16 00:56] nolanw commented on #17
Hello! Unfortunately, that is not currently supported.

For now, you're stuck with getting two arrays from calling `-nodesMatchingSelector:` and merging them together (watch out for duplicates!).

It is the next thing I want to implement, however.

[2015-03-16 01:07] joscha-alisch commented on #17
Yeah thats what i did as a quick fix :) Thanks for the quick response, looking forward to the implementation, but take your time of course :)

[2015-03-22 03:42] tberman opened #19 "Handle tagName with a : in it"
I am getting back some html that has some namespaced elements in it, like:

`<some-ns:some-tag />` and I am unable to build a selector that targets it, as it chokes on the `:`.

[2015-03-23 23:19] nolanw commented on #19
Fair enough – looks like we need to implement some selector escaping! I'll stick it on the todo list and keep this issue updated.

Unfortunately the best I can do for a workaround right now is to use a selector to get a nearby element (maybe the parent element) and then climb around the tree until you find the right elements. `-[HTMLElement tagName]` should handle the colon just fine.

[2015-03-23 23:28] nolanw commented on #19
Amusingly enough, part of the impetus for starting HTMLReader was encountering elements that looked like `<size:8>` and having libxml2's HTML parser choke on it.

[2015-04-03 01:47] jacobhull opened #21 "Access element via item prop"
Is it possible to access an HTML element based on it's itemprop that is used by schema.org? Thanks!

[2015-04-03 13:23] nolanw commented on #21
Hello! Did you mean schema.org?

Anyway, HTMLReader doesn't know about itemprop or related attributes, so it doesn't go out of its way to help you use them.

I'm not too familiar with microdata but I think you can get the job done with the usual selectors and maybe a bit of processing thereafter. Remember that you can use `~=` in a selector to match whitespace-delimited values in an attribute. For

[2015-04-03 13:40] nolanw commented on #19
@tberman I just released HTMLReader 0.7.1 which includes support for escaping characters in selectors. For example, you can now use the selector `some-ns\:some-tag` to match your example element. Give it a try and let me know how it goes!

[2015-04-03 15:22] jacobhull commented on #21
Yep meant schema.org. Thanks for the help, thats what I needed to get it working!

[2015-04-03 16:47] nolanw commented on #21
Glad to hear it!

[2015-04-03 16:47] #21 closed

[2015-04-05 04:47] tberman commented on #19
Working great, thanks!

[2015-04-05 04:47] #19 closed

[2015-04-09 16:48] henneonrails opened #22 "Whitespace issue"
in your example code you do `stringByTrimmingCharactersInSet`. For my parsed string it makes no difference if I trim or not. The string always looks the same: completely without any whitespace characters.

But I would like the opposite. I would like a parsed text with newline characters. Is it possible to get this text?

Here is the text http://www.dwd.de/bvbw/appmanager/bvbw/dwdwwwDesktop?_nfpb=t

[2015-04-10 07:39] henneonrails commented on #22
`.innerHTML` will do the job

[2015-04-10 07:39] #22 closed

[2015-04-11 14:20] nolanw commented on #22
@henneonrails When I try to scrape that page and look at the `.blockBodyPre`'s `textContent`, I see newlines all over the place, just like the page itself. How are you inspecting the parsed text?

Not coincidentally, I've added a playground to the project to aid in this kind of verification. If you end up trying it out and can show me what you mean with some playground code, I'd be more than happy

[2015-06-08 15:05] kiraniphone opened #23 "<HTMLReader/HTMLReader.h> file not found"
How can i instal the framework?

[2015-06-17 06:58] irbaaz commented on #23
Its easy create a Folder HTMLReader and copy all the files of code folder in it .
Than open xcode file->Add File to "Project_name".
you are done than

[2015-06-17 06:59] irbaaz opened #24 "Mach-o error"
Don't know how to sort it .

I have imported Foundation library already.

When using HTMLDocument xcode giving error :

 ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2015-06-17 07:14] irbaaz commented on #24
Found the issue Files were not compiling. Now sort out

[2015-06-17 12:21] 0x0007de opened #25 "[closed]Analyse src content in html str"
Hi,
     I want to analyse "some.jpg"  in the html str blow.
     What should I do? Thank you.

    <div class="box-border" style="height:700px;">
    <ul id="Cont01">
    <li style="display:block" id="projectContainer"><div class="spacing"></div><center><img src="some.jpg"></center><hr></li>
    </ul>
    </div>

[2015-06-17 12:42] nolanw commented on #25
Something like this?

[code]

[2015-06-17 12:45] nolanw commented on #23
@kiraniphone The easiest ways are to use CocoaPods or Carthage. If you copy the files over manually like @irbaaz suggests, you may have to add the folder containing HTMLReader to your project's build settings under "Header Search Paths". Does that make sense?

[2015-06-17 12:46] nolanw commented on #24
@irbaaz what was preventing some files from compiling? I'd like to make the installation instructions as clear as possible.

[2015-06-17 12:49] irbaaz commented on #24
Hi Thank you for your response .

I have done the following First I have add the Foundation framework files than add the files from file menu not by drag and drop.

[2015-06-17 12:51] nolanw commented on #24
@irbaaz sounds good, thanks!

[2015-06-17 12:51] #24 closed

[2015-06-17 12:53] irbaaz commented on #24
I am facing one more issue ex: my HTML is <li <td class='nfo' <a HELLO1 /a>/td> <td class='ttl' <a HELLO2/a>/td>

Now how I can pick particular class data  .

[2015-06-17 12:58] nolanw commented on #24
Just like in CSS. `[document nodesMatchingSelector:@".updog"]` selects all nodes with the class `updog`.

(If you put your HTML within triple-backticks it'll show up nicely in the issue. See the "code" section at https://guides.github.com/features/mastering-markdown/)

[2015-06-17 13:22] irbaaz commented on #24
Thanks alot it worked .

I have switched from hpple library to yours because in xcode 7 it were causing issues.

I am playing around with it from past 2 days.

Now I have learned enough to integrate this in my old code .

Thanks for developing this simple library .

[2015-06-17 13:33] nolanw commented on #24
You are most welcome!

[2015-06-17 17:05] irbaaz opened #26 "iOS 9 / Xcode 7 compatibility issue"
HTMLTreeEnumerator.m:20:17: Method override for the designated initializer of the superclass '-init' not found

HTMLPreprocessedInputStream.m:8:17: Method override for the designated initializer of the superclass '-init' not found

HTMLParser.m:50:17: Method override for the designated initializer of the superclass '-init' not found

HTMLSelector.m:790:17: Method override for the designated initia

[2015-06-18 02:39] 0x0007de commented on #25
Thank you very much!!

I think it will work too.

    HTMLElement *element = [document firstNodeMatchingSelector:@"#projectContainer center img"];
    NSLog(@"textContent is %@",[element objectForKeyedSubscript:@"src"] );

[2015-06-18 12:13] #25 closed

[2015-06-19 00:57] nolanw commented on #26
@irbaaz How's the master branch looking now? If it looks ok, I'll wrap everything up into a new release.

[2015-06-19 05:26] irbaaz commented on #26
Everything is working fine without any issue , only showing this as warning.

[2015-06-19 12:12] nolanw commented on #26
@irbaaz you're still seeing a warning on master branch?

[2015-06-19 18:00] irbaaz commented on #26
'HTMLReader/HTMLNamespace.h' file not found

Even it has this file in the folder still giving this error . I have tried to replace this file from old HTMLReader folder but still same issue.

[2015-06-19 18:26] irbaaz commented on #26
Now it is showing file missing HTMLNamespace.h

I am trying to put code of specific files one by one and trying to analyse .

[2015-06-19 18:46] irbaaz commented on #26
Now the warning has been limited to two files :
Method override for the designated initializer of the superclass '-init' not found
Method override for the designated initializer of the superclass '-init' not found

One has no warning and on using that same modified libraries to other project giving two warnings as stated above :

https://drive.google.com/file/d/0BwM-1nlIgG_ddGV0QTdYbERDQVE/view?us

[2015-06-20 08:24] irbaaz commented on #26
Issue is Looking fixed now :

 Importing the folder containing file with folder name HTMLReader fixes the issue .

https://drive.google.com/file/d/0BwM-1nlIgG_dQlllbmdpQmlEcmM/view?usp=sharing

I think this issue can be closed now.

[2015-06-20 15:56] nolanw commented on #26
@irbaaz While we're talking Xcode 7, have you looked at Objective-C generics at all? I've just updated master with generics, and since you seem to be my Xcode 7 tester I thought you might be interested. If not, that's ok!

[2015-06-21 06:10] irbaaz commented on #26
I am a beginner , not familiar with Objective-C generics will study about them.

I can not say issue is solved .

Initially it is working fine but when using the functions HTMLDocument it is giving error Mach-o Linker

[2015-06-21 06:12] irbaaz commented on #26
Undefined symbols for architecture x86_64:
  "_OBJC_CLASS_$_HTMLDocument", referenced from:
      objc-class-ref in ViewController.o
ld: symbol(s) not found for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2015-06-21 13:52] nolanw commented on #26
@irbaaz you are using HTMLReader by copying the files into your project, correct? If so, can you make sure that the `HTMLDocument.m` file has been added to the target you're trying to build?

[2015-06-22 00:01] irbaaz commented on #26
Yes I am 100% sure it is there just checked it again.

[2015-06-22 00:04] irbaaz commented on #26
Ok it was a compiling issue now it is sorted but two warning pop-up than:

HTMLTokenizer.m
Method override for the designated initializer of the superclass '-init' not found
HTMLParser.m
Method override for the designated initializer of the superclass '-init' not found

[2015-06-24 09:17] irbaaz commented on #26
Hi ,
I have gone through new update objective-c generics and it is causing the same issue .

[2015-06-26 02:30] nolanw commented on #26
I haven't forgotten about you! I'll take a look in the next few days.

[2015-06-26 05:44] irbaaz commented on #26
Thanks for remembering me .
My app is ready :)

[2015-06-27 23:10] nolanw commented on #26
Everything's warning-free for me with Xcode 7 beta 2, so I've just wrapped up and pushed HTMLReader 0.8. Thanks for the push to get it updated!

[2015-06-28 10:38] irbaaz commented on #26
Finally all things are looking great no warning , everything is set .

I have to remove <HTMLReader/ from every file .

I am uploading the folder and sharing the link with you . I would strongly suggest you to upload that separately that will work only with just adding the files in there existing project.

https://drive.google.com/file/d/0BwM-1nlIgG_deWtLT2dPaXFqS28/view?usp=sharing

[2015-06-28 13:43] nolanw commented on #26
@irbaaz instead of removing `<HTMLReader/>` from everything, you could do one of:

* Add the folder with HTMLReader to your "Header Search Paths" build setting. e.g. add "${PROJECT_DIR}/External/HTMLReader" and tick the "Recursive" box.
* Instead of adding all the files to your target, drag HTMLReader.xcodeproj into your app project, then add HTMLReader.framework to your app's "Embedded Binaries"

[2015-06-28 14:52] irbaaz commented on #26
Thanks for your support and help....

[2015-06-28 17:03] nolanw commented on #26
Alright I'ma close this issue as I think Xcode 7 compatibility is addressed, but please by all means c'mon back if you need anything else!

[2015-06-28 17:03] #26 closed

[2015-06-29 11:09] irbaaz commented on #26
Yes sure .
Thanks for everything.

[2015-07-08 03:12] yuklai opened #27 "HTMLTextNode plaintext with comments"
Hi there,
I notice that if the text in the HTMLTextNode contains comments "" the comment is also returned. Is this expected?

Thanks!

[2015-07-08 04:22] yuklai commented on #27
Actually don't worry for now, let me test more. Sorry about the noise.

[2015-07-08 04:22] #27 closed

[2015-07-08 16:21] wraithseeker opened #28 "Possible to access video id?"
I am pretty unfamiliar with HTML scraping but as far as the documentation goes, it covers mostly about imgs and text.

Does HTMLReader have the ability to scrape video urls such as this one?

     <video id="my_video_1_html5_api" class="vjs-tech" preload="auto" src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&amp;id=45d2fdf73f5ea442&amp;itag=22&amp;source=picasa&amp;cmo=secure_

[2015-07-08 16:39] nolanw commented on #28
Shouldn't be a problem! You'd just do something like

[code]

Make sense?

[2015-07-08 17:00] wraithseeker commented on #28
HTMLElement *video = [document firstNodeMatchingSelector:@"#my_video_1_html5_api"];

This line seems to be returning nil for me

[2015-07-08 20:38] nolanw commented on #28
I wonder if there's some JavaScript that runs in the browser, changing the HTML that's initially served up. I tried:
[code]
I suspect this makes your problem a bit tricker to solve, as HTMLReader won't execute any scripts for you. Maybe you can poke around on the page a bit and figure out how it's determining and inserting the video's `src`?

[2015-07-11 21:56] NBibikov opened #29 "Remove some strings"
Hi! Please help me. I read docs but don't understand how remove some strings. I have some string:
[code]
How i can delete first line and all nbsp(2-nd line)?
[code]

Thank you very much

[2015-07-13 12:30] nolanw commented on #29
There are fundamentally two ways to go about it: focus on the content to keep; or discard unwanted content. I'm not sure which one makes more sense in the context you've given, so I'll describe both.

If you choose to focus on the content to keep, it looks like you're interested in the header and the paragraph thereafter. So you could do something like:
[code]

If you choose to discard unwanted co

[2015-07-20 12:36] NBibikov commented on #29
Thank you very much! I will experiment two options

[2015-07-22 22:38] spacecoder opened #31 "Potential for Null Dereference"
Hello,
Our security team has identified potential security concerns in the following files:

HTMLSelector.m:(Line 647)
HTMLNode.m:(Line 167)

Impact:
Most null pointer issues result in general software reliability problems, but if an attacker can intentionally trigger a null pointer dereference, the attacker might be able to use the resulting exception to bypass security logic or to cause the appl

[2015-07-26 14:23] nolanw commented on #23
Hopefully that made sense! Gonna close this as it's been a month, but please do reopen or create a new issue as needed.

[2015-07-26 14:23] #23 closed

[2015-07-26 14:45] nolanw commented on #31
@spacecoder Thanks for the feedback! Unfortunately I'm having some trouble and I would appreciate your help.

Could you share which version or commit of HTMLReader you were using when you identified these issues?

I'm guessing you were looking at HTMLReader 0.7 (as those line numbers in HTMLReader 0.8 seem unlikely to raise any null dereference dander), in which case I'm afraid I haven't spotted t

[2015-08-02 09:29] smallwood69 opened #33 "innerHTML in the xhtml"
&lt;img src = '...' /&gt; is convert to &lt;img src='...'&gt;

so, xhtml  contents display error.

xhtml contents have to  tag close.

how can i fix it.

[2015-08-03 18:47] nolanw commented on #33
Unfortunately there's no way to do XHTML output with HTMLReader.

I don't plan on adding support myself, but if anyone else is interested in doing the work then I would happily help and merge it in!

[2015-08-03 18:47] #33 closed

[2015-08-04 09:38] SuhaybMahmood opened #34 "self-enclosed tags incorrectly end up as child tags after parsing"
We found that self-enclosed tags end up as child tags after loading the html into an `HTMLDocument*` then retrieving using either `innerHTML` or `serializedFragment` methods:

[code]
Log:
2015-08-04 10:25:56.976 App[2819:40244] rawHtmlString: &lt;html&gt;&lt;body&gt;&lt;div class=&quot;self-enclosed&quot;/&gt;&lt;div class=&quot;also-self-enclosed&quot;/&gt;&lt;/body&gt;&lt;/html&gt;
2015-08-04 10

[2015-08-04 12:45] nolanw commented on #34
I believe the markup in `rawHtmlString` is being parsed correctly. `div` tags are not treated as self-closing tags according to the spec, so that markup is parsed as if you had written:
[code]
I can't really speak to who's to blame for the situation, but that's the situation you are in.

If you're curious, [here's the big list of what happens](https://html.spec.whatwg.org/multipage/syntax.html#par

[2015-08-05 09:26] SuhaybMahmood commented on #34
I used div in the example only for demonstration purposes; that's not actually whats causing our problem (looks like using divs for demonstration was a bad choice in hindsight :P). The tags we're seeing this happen on are custom ones we get from our server which we use this library to identify and process, would these be treated with the same rules as for divs? ie:
[code]
Log:
2015-08-05 10:20:30.

[2015-08-05 11:46] nolanw commented on #34
They are indeed treated the same in that they are never considered self-closing.

If you have control over the output, maybe you can insert closing tags? Or you might have better luck using an XML parser.

[2015-08-06 09:45] SuhaybMahmood commented on #34
Ah in that case sounds like this might not be a bug. We have already done a workaround where we find our self enclosing tags and add closing tags but thought we were working around a bug; hence raising the issue. We'll continue with that. Thank you for taking the time to get back to us, it is much appreciated :)

[2015-08-06 12:11] nolanw commented on #34
Happy to help!

[2015-08-06 12:11] #34 closed

[2015-08-17 19:46] jameslin101 opened #35 "not detecting complete set of meta tags"
Hi,

I am trying to parse meta tags using this code:

    NSArray *metaNodes = [document nodesMatchingSelector:@"meta"];

I ran the code through this page:
http://www.nytimes.com/2015/08/16/technology/inside-amazon-wrestling-big-ideas-in-a-bruising-workplace.html

and it only picked up 31 meta tags when there is clearly 50+

[2015-08-17 23:38] nolanw commented on #35
Hello! I'm not seeing the same results as you. I downloaded the HTML with the command
[code]
When I opened the downloaded file in a text editor, I counted ten instances of `<meta`. When I loaded it into HTMLReader, the array returned by `[document nodesMatchingSelector:@"meta"]` had a count of ten.

May I ask how you're counting 31 and 50+ meta tags? Are you loading the page in a browser?

[2015-08-17 23:55] jameslin101 commented on #35
Hi Nolan

Thanks for getting back so quickly. Yup when I look at the source code in
Chrome its showing at least 50+ tags.
I'm using the exact code from your github readme and added:

    NSArray *metaNodes = [document nodesMatchingSelector:@"meta"];

    NSLog(@"metaNodes %@", metaNodes);
The metaNodes array consistently comes back on my side to be 31 objects.

Wow that very strange you are gettin

[2015-08-19 00:30] nolanw commented on #35
Oh, I was not very careful. Turns out that curl command gets redirected to the login page because it isn't accepting cookies. I changed it to:
[code]
And got a text file with 92 instances of the string `<meta`, and with HTMLReader I dragged it into the playground and did
[code]
and got a count of 92 matching nodes.

Just for fun, I went to the page you linked in Safari, opened the Web Inspector, t

[2015-08-19 06:23] jameslin101 commented on #35
Hi Nolan

Yup I'm getting the 93 when I'm running the javascript query as well.

I'm running this code in a brand new iOS singleview project after importing
HTMLReader.h via Cocoapods and still getting a 31. Very strange.

- (void)viewDidLoad {
    [super viewDidLoad];
    NSURL *url = [NSURL URLWithString:@"
http://www.nytimes.com/2015/08/16/technology/inside-amazon-wrestling-big-ideas-in-a-bruis

[2015-08-20 22:00] nolanw commented on #35
I'm afraid I'm nearly out of ideas! If you take the `data` from your snippet and log it out as a string, do you see the markup you expect to see?

[2015-08-24 06:23] priyansh1990 opened #36 "Parse attributed HTML?"
How to parse attributes in HTML element like name and value?
![screen shot 2015-08-24 at 11 59 24 am](https://cloud.githubusercontent.com/assets/6958908/9434111/bb4b295a-4a58-11e5-8239-b763d238ab6a.png)

[2015-08-24 11:47] nolanw commented on #36
Suppose you had that HTML in a string variable called `markup`. Then:
[code]

You might need to get fancier with the selector used to find the input elements in the first place, as I'm guessing your document won't be quite so straightforward as the sample you included.

[2015-08-24 17:57] priyansh1990 commented on #36
Thank You for your help and prompt reply.

[2015-08-24 17:58] #36 closed

[2015-08-24 20:30] leolobato opened #37 "Strip HTML"
This is a feature suggestion.

Since the HTML is already parsed, maybe it would be possible to add a method which strips the HTML but keeps the line breaks?

I'm specially thinking about this to be used on watchOS 2 projects, where NSAttributedString can't be used to strip HTML and it was quite a popular solution.

[2015-08-27 18:38] garohussenjian opened #38 "HTMLParser will crash in initialParser.changeEncoding block if correctedString is nil"
We discovered this issue in beta testing, saw consistent crashes parsing the url: http://buff.ly/1KQAykF

[2015-09-04 02:17] #38 closed

[2015-09-04 02:28] nolanw commented on #37
Sorry for the delay in getting back to you, and thank you for your patience!

Just to make sure I understand, how does the output you're looking for differ from simply taking an HTMLDocument instance's `-textContent`? Special handling of `<br>` tags?

Could you supply brief sample of a document and the stripped output you'd expect? It'd be perfect for a unit test.

I'm guessing this'll be a pretty

[2015-09-08 18:31] luttmerk commented on #17
Fix this for me please. :)

[2015-09-20 19:33] #17 closed

[2015-09-20 19:34] nolanw commented on #28
@wraithseeker did you ever solve this?

[2015-09-20 19:34] nolanw commented on #29
@NBibikov did you ever solve this?

[2015-09-20 19:34] nolanw commented on #35
@jameslin101 did you ever solve this?

[2015-09-20 19:44] nolanw commented on #17
@joscha-alisch @luttmerk I just released HTMLReader 0.9 which adds support for selector groups. Try it out and let me know how it goes!

[2015-09-20 20:42] jameslin101 commented on #35
No I was not able to solve it. Probably a one-off issue with that
particular article, but very strange.

On Sun, Sep 20, 2015 at 3:34 PM, Nolan Waite <notifications@github.com>
wrote:

[2015-09-21 00:56] wraithseeker commented on #28
The last time I did this, I realized the website's video url is loaded through an ajax call which is probably the issue. I didn't solve this.

[2015-10-20 16:23] jnixdev opened #42 "Failed with selector "h1:first" on webpage http://en.m.wikipedia.org/wiki/Katy_Perry"
Getting following error/exception:

 Terminating app due to uncaught exception 'NSInvalidArgumentException', reason: 'Attempted to use selector with error: Error Domain=HTMLSelectorErrorDomain Code=1 "Unrecognized pseudo class" UserInfo=0x7fd24389f2d0 {NSLocalizedFailureReason=Error near character 8: Unrecognized pseudo class

	h1:first
	^        , HTMLSelectorInputString=h1:first, HTMLSelectorLoc

[2015-10-20 17:53] nolanw commented on #42
That error is trying to tell you that `:first` isn't a thing in CSS selectors.

Which element are you trying to get to on that page? If it's just the first `<h1>` anywhere in the page, you can simply do `[document firstNodeMatchingSelector:@"h1"]`.

[2015-10-21 03:21] jnixdev commented on #42
Thanks, You are correct.

[2015-10-21 11:49] nolanw commented on #42
Did you manage to get the elements you needed from the page?

[2015-10-21 12:20] jnixdev commented on #42
Yes, thanks a lot.
I was considering it will fork for CSS Pseudo-classes as well. (ref:http://www.w3schools.com/css/css_pseudo_classes.asp),
I really appreciate your work, really great library.

[2015-10-21 12:45] nolanw commented on #42
Most of those should work. The ones that won't work are the ones that don't make much sense for HTMLReader, like `:visited` (because HTMLReader doesn't know what you've visited).

[2015-10-21 12:45] #42 closed

[2015-10-23 08:32] mrahmiao opened #43 "Is there a way to grab the text in an element?"
When I traversed the DOM tree using `treeEnumerator` of `HTMLNode`, I can see the text node: `HTMLTextNode`. However, it is not exposed as a public API so that I can't type cast to it.

And the `textContent` of `HTMLNode` includes too many text, which is useless.

I have a HTML file which contains the following code:

    <dd>
      Some Description
      <dl>...</dl>
    </dd>

[2015-10-23 15:25] nolanw commented on #43
Hello! Excellent point. I think we should do two things:

1. Expose `HTMLTextNode` publicly, at least enough of an interface to make it usable when using `treeEnumerator`.
2. Add a `textContentComponents` property to `HTMLNode` that returns an array of each child text node's contents, so that you can get what you need without having to know anything about `HTMLTextNode`.

Make sense?

[2015-10-23 22:34] mrahmiao commented on #43
Make `HTMLTextNode` as a public API is enough

[2015-10-26 02:02] #43 closed

[2015-10-26 02:04] nolanw commented on #43
@mrahmiao Shipped in version 0.9.2!

[2015-10-28 02:12] nolanw commented on #28
Alright, I'ma close this because it doesn't seem to be a problem with HTMLReader.

[2015-10-28 02:12] #28 closed

[2015-10-28 18:42] jawb opened #44 "Build failed"
Hi,

I added HTMLReader through pod as instructed, but the project isn't compiling, I get the following message:

[code]

Any idea ?

[2015-10-28 23:32] #44 closed

[2015-10-28 23:52] nolanw commented on #44
Did you get it figured out?

[2015-10-31 03:23] mrahmiao opened #45 "Build failed when in testing of my OS X App."
Xcode 7.1 and OS X 10.11.1, OS X app.

I used Carthage to install HTMLReader, when build for my test target, error occurred:

This error only occurs in the test bundle.

If I install HTMLReader through Git Submodule, everything is OK.

[2015-11-02 17:54] Jacenty10 opened #46 "String to HTML is not complete"
I can't get right html string when plan source text contains newline character.

Result HTML contains " \ n ", not "< br >" or "< p >" tag.

[2015-11-03 00:55] nolanw commented on #46
Hello! Do you have an example of what your plain source text looks like, and what you'd like the resulting HTML to look like?

HTMLReader will not automatically turn `\n` into `<br>` for you. It can assist you in doing so, though I question how much help it will be. But I'm happy to help if you can tell me a bit more about what you'd like to do.

[2015-11-03 01:11] nolanw commented on #45
Hello! I just made a new OS X project using Xcode 7.1, added HTMLReader to a Cartfile, ran `carthage update`, then [followed these directions](https://github.com/carthage/carthage#adding-frameworks-to-unit-tests-or-a-framework). I'm not seeing any errors.

Do you get the same error in a new Xcode project?

[2015-11-03 01:13] nolanw commented on #45
I should add that I'm not seeing any errors linking either my app or my unit test target, both of which import HTMLReader and make a new HTMLDocument.

[2015-11-05 17:13] wildthink opened #48 "case-insensitive attribute option"
I've encountered a problem when I need to do a case-insensitive attribute match

As discussed here
http://stackoverflow.com/questions/5671238/css-selector-case-insensitive-for-attributes

Shouldn't these be equivalent?

`let nodes = doc.firstNodeMatchingSelector("link[rel='shortcut icon']")`

and

`let nodes = doc.firstNodeMatchingSelector("link[rel='Shortcut icon' i]")`

[2015-11-05 18:14] nolanw commented on #48
Hello! Unfortunately HTMLReader doesn't support that flag, at least not yet. HTMLReader aims to support CSS Selectors Level 3, and that little `i` is part of Selectors Level 4, and I haven't gotten there yet.

It's a good idea to add it, though! I'll keep this issue open to track progress.

In the meantime, I'm afraid you're stuck with a workaround like that mentioned in the question you linked: y

[2015-11-24 08:55] Ying1986 commented on #46
@nolanw

I have same issue.
----
    NSString * q = @"<br><br>abc<p>1</p> qq";

    HTMLDocument* document = [HTMLDocument documentWithString: q];

    NSString*c2 = document.textContent;

---
  c2 = "abc1 qq",
and <div> tags are processed as one line.

Please help me.

Thank you.

[2015-11-24 23:29] nolanw commented on #46
@Ying1986 I think you'll have to do a bit more work than simply taking the `textContent` of the document. `document.textContent` grabs all of the text nodes in the document. `<br>` isn't a text node; it's an element. If you'd like to turn `<br>` into a line break, you can, but it's a bit obtuse (code untested):

[code]

[2015-11-25 00:13] Ying1986 commented on #46
@nolanw

Thanks for your help.

Your library is useful, but it has some issues like newline.

if < br > is ok, then how about < p > tag?

< div >  my line1 < /div > < div >  my line2 < /div >   ????

In fact, I have only one useful library for this.
It is NSAttributedString, but it generate some classes and styles.

Can you make your library like as NSAttributedString, but not classes and styles?

[2015-11-25 00:17] nolanw commented on #46
@Ying1986 The same basic idea should work for `<p>` tags, though you'd have to be careful not to delete its text contents.

HTMLReader would probably be quite helpful to someone who wants to turn HTML into an NSAttributedString, but it's not what I have in mind for HTMLReader itself. It would not be too difficult to make something that, for example, consumes an HTMLTreeEnumerator and builds up an

[2015-11-25 08:55] Ying1986 commented on #46
@nolanw

Following is some of my code using HTMLReader

<p>- (NSString*) my_planstringFromHTML<br />
{<br />
&nbsp; &nbsp; if (self.length == 0)<br />
&nbsp; &nbsp; &nbsp; &nbsp; return self;<br />
&nbsp; &nbsp;&nbsp;<br />
// &nbsp; &nbsp;HTMLDocument* document = [HTMLDocument documentWithString: self];<br />
// &nbsp; &nbsp;return document.textContent;<br />
&nbsp; &nbsp;&nbsp;<br />
&nbsp; &nbs

[2015-11-25 16:07] nolanw commented on #46
@Ying1986 Right, you'd need to do some extra processing like I suggested earlier in order to transform elements into the spacing you want.

[2015-12-10 15:26] zoul opened #51 "The test case testEncodingDetection fails, missing HTML5 test cases?"
The `testEncodingDetection` case fails on my system:

[code]

Is it simply a symptom of some missing HTML5 testing resources? If so, could we skip the particular tests when the resources are not found?

[2015-12-10 15:29] zoul commented on #51
I see, I simply forgot to do a recursive clone, so I didn’t get the `Tests/html5lib` submodule. How about a hint in that case? I’ll take a look at it.

[2015-12-11 07:36] priyansh1990 commented on #36
Thanks a lot Nolan. This helped a lot

On Mon, Aug 24, 2015 at 5:17 PM, Nolan Waite <notifications@github.com>
wrote:

[2015-12-12 00:19] nolanw commented on #36
Glad to hear it!

[2015-12-12 02:29] nolanw commented on #51
If you're interested in taking out the assert and updating the README as we discussed in the comments on #52, I'd be much obliged.

If not, that's ok too! and I'll get around to it sometime.

[2015-12-16 13:18] #51 closed

[2016-01-10 11:22] athi-pc opened #55 "issues"
No I was not able to solve it. Probably a one-off issue with that
particular article

[2016-01-10 17:47] nolanw commented on #55
I'm sorry, I seem to be missing some context. Is this a reply to an earlier issue or thread?

[2016-01-25 02:43] mrahmiao commented on #45
Fixed.

[2016-01-25 02:43] #45 closed

[2016-01-25 02:44] nolanw commented on #45
Great! Was there anything in particular you needed to do?

[2016-01-25 05:01] mrahmiao commented on #45
Haven't done anything special.

[2016-02-01 19:26] sujeet14108 commented on #29
Hi
Actually there is no problem in your code.
"**&nbsp;**" this thing would not be shown on the output page although you can simply delete it. Some edition put this on the time of declaration

 and also the image source url  would not be printed as such .

![screenshot 6](https://cloud.githubusercontent.com/assets/9781422/12728418/ca001aa0-c947-11e5-8b93-14d5839a1411.png)

[2016-02-07 20:34] nolanw opened #59 "HTMLElement's `objectForKeyedSubscript:` is not imported into Swift as `subscript`"
If you try e.g.
[code]
you get

But if you do
[code]
you get

---

This works:
[code]
but I think it shouldn't be necessary? It seems like Swift usually maps `-objectForKeyedSubscript:` to `subscript`, so why is it failing here?

[2016-02-07 21:03] nolanw opened #60 "HTMLNode's `-nodesMatchingSelector:` return type is imported into Swift as `[AnyObject]`"
Should be `[HTMLElement]`. Do the macros confuse the importer? Since we support SDKs that predate Objective-C generics, we can't just put the generics right in.

[2016-02-09 13:01] kivu opened #61 "firstNodeMatchingSelector return nil when looking for node which exist"
Hi
I'm trying to parse some HTML document to get two texts from tags:
"<hand>Some text to display.<image>image_name_to_display.jpg</image></hand>"
so I use this code :
HTMLDocument *document = [HTMLDocument documentWithString:self.content]; //content is html above
 NSString *handAndImageStr = [document firstNodeMatchingSelector:@"hand"].textContent;
            if (handAndImageStr) {

[2016-02-09 13:31] nolanw commented on #61
Hello! Did your HTML make it into the issue intact? If not, try surrounding it in backticks or triple-backticks to preserve the formatting.

Otherwise I'm left to guess at what's going on. Is it possible that it's an `img` element, not an `image` element, that you're looking for? And `<img>` doesn't generally have any text content, so I'm suspicious of that too. Is it possible you're looking to ge

[2016-02-09 13:39] kivu commented on #61
ahh Sorry I didn't notice that my tags are gone ;/ this is my hmtl with tags:
`<hand>Text to display <image>image to display.jpg</image></hand>`

I tried to use
[document firstNodeMatchingSelector:@"image"][@"src"] or
[document firstNodeMatchingSelector:@"img"][@"src"]
but this won't work

[2016-02-09 22:00] nolanw commented on #61
I'm still a bit suspicious that your text is actually HTML. Is it possible it's actually XML, or something else entirely?

If you put `<image>` into an HTML document, it'll get parsed as if you put `<img>`. You'll probably notice that `[document firstNodeMatchingSelector:@"image"]` returns `nil`. This is why.

Additionally, `<img>` elements simply aren't allowed to have text or child elements or a

[2016-02-11 11:23] kivu commented on #61
Thanks for your fast answer
I had to check what exactly app received from server and you were right this is not a html :(
app received a dictionary with some xml text:

[code]
and made some parse to get info from tags "hand" and "image"
as I checked what might be issue of this I just found that when app use old version 0.5.9 somehow the text from "image" tag was parsed without problems.
I will try

[2016-02-11 12:40] nolanw commented on #61
It looks like XML to me, so you could try using `NSXMLParser` (built in to iOS and OS X) or a library like [KissXML](https://github.com/robbiehanson/KissXML) (there are many, many XML libraries for iOS and OS X, that's just one I looked up).

Are you saying the current version of HTMLReader parses that text differently from version 0.5.9? If so I should take a look at that, there might be a bug th

[2016-03-02 02:34] vudangthinh opened #62 "Cannot use with id selector"
I used this library to parse html file but it didn't work with id selector
[code]

HTMLElement is always nil

[2016-03-02 02:55] nolanw commented on #62
Can you share the document you're trying to parse?

[2016-03-02 03:00] vudangthinh commented on #62
I parsed NHK page: [http://www3.nhk.or.jp/news/index.html?page=cat1]()

[2016-03-02 07:02] vudangthinh commented on #62
I found the reason.
This page uses ajax to load data, so the selector which I am inspecting is not exist.

[2016-03-02 07:15] #62 closed

[2016-03-02 14:43] nolanw commented on #62
That makes sense. Hope you can find something workable!

[2016-03-31 18:28] rushk2112 opened #64 "Parsed Document back to String"
I've been looking through the source and have been trying to find a way to get the parsed document back as a string. I am trying to use the library to parse apart an HTML document to then search for elements and remove and/or replace some attributes so that they will render within a WKWebview.

I have the the changes working (examining the .attributes) but can not find a way to get the main docume

[2016-03-31 19:47] nolanw commented on #64
Hello! I think `yourDocument.serializedFragment` might suit your needs. Let me know if it does, and I'll make it more obvious for the next person!

[2016-03-31 19:58] rushk2112 commented on #64
Wonderful! A thousand thanks that did the trick. I finally found that in the code and had even tried document.innerHTML  with no success. Since I'm using Swift I even tried the .description and .toString.

Your quick response has let me move forward again...  I knew it had to be me :^)

[2016-03-31 19:58] #64 closed

[2016-04-01 13:17] leolobato opened #65 "Importing files directly on project doesn't work anymore"
From the README, one of the options of installation is:

I've added HTMLReader to a project back in version 0.7 using git submodule and imported the files directly into it, but now when I pulled the latest revision, the app won't build anymore because of the `#import <HTMLReader/*>` imports.

[2016-04-01 16:38] nolanw commented on #65
Oh, good point! My bad. The static library target is probably broken too for the same reason.

I'll need to think about whether there's a better way to handle this, and update the README. In the meantime, I think we can get you up and running with one more step: adding the HTMLReader folder to your app target's "Header search paths" build setting.

If your folder hierarchy for your project looks s

[2016-04-02 23:45] #60 closed

[2016-04-02 23:45] #55 closed

[2016-04-02 23:55] nolanw commented on #65
@leolobato I think I may have fixed things in version 0.9.6. Can you give that a try at your convenience? Let me know if it works!

[2016-04-03 11:08] leolobato commented on #65
@nolanw Pulled in 0.9.6 on my project and it worked! Thanks for the fix!

[2016-04-12 15:14] mgolovko opened #66 "Custom tags"
Hi!

My HTML contains custom not closed tag, as a `<tag>` or `<tag/>`. HTMLReader expecting `<tag></tag>`, so my document does not good for me.
I can customize parse process, to add support for my tags?

Thanks!

[2016-04-12 15:24] nolanw commented on #66
Hello! There's no convenient point to customize parsing like that in the public API. However, if you're willing to maintain a modified version of HTMLReader, I believe you can add your tag name to [this list in HTMLParser.m](https://github.com/nolanw/HTMLReader/blob/1bcbfbd35bb6cfd30476ce80bd8b943aabb8a0d6/Code/HTMLParser.m#L845) and to [this other list in HTMLParser.m](https://github.com/nolanw/H

[2016-04-12 15:35] mgolovko commented on #66
Yes! That solve my problem.
Thanks for the quick response!

[2016-04-12 16:07] nolanw commented on #66
You're very welcome! I'll close this issue for now, but please feel free to (re)open as needed.

[2016-04-12 16:07] #66 closed

[2016-04-17 07:43] lexiaoyao20 opened #67 "Replace child node"
How to replace child node in parent node?

[2016-04-17 07:54] lexiaoyao20 commented on #67
I have create a category.

[code]

[2016-05-07 17:56] nolanw commented on #67
Hello! I see you've answered your own question, and that's the right way to go about it. I'm guessing you're not the only one wondering, and in either case some convenience methods would be helpful. I'll see about adding these methods to the project.

[2016-05-16 15:28] ilyi1116 opened #68 "parse html.."
Hi

i want to parse an one html. here is an html code :
[code]

i want to parse an 'p', 'figure.img', 'figure.figcaption', 'a' and by default sort.....
i don't know how to user HTMLDocument to parse this...

Could you help me?
Thanks

[2016-05-17 00:44] nolanw commented on #68
Hello! I think I can help you. Let's find out!

First, how are you receiving the HTML that you want to parse? If it's downloaded data, you can make an HTMLDocument like so:
[code]
If you've got the HTML as a string already, you can do:
[code]

Either way, once you've created your HTMLDocument, you can find nodes using CSS selectors, like so:

[code]

Does any of that help? Give it a try and if you

[2016-05-17 01:36] ilyi1116 commented on #68
@nolanw

very thank you
it is help me a lot~~

here is my code :

[code]

[2016-05-17 02:14] ilyi1116 commented on #68
i have another question... if my html is dynamic. like this :
![2016-05-17 10 13 43](https://cloud.githubusercontent.com/assets/517366/15309287/1946189e-1c18-11e6-93f2-1bd021cbff28.png)

not the same as 'p' tag was before 'figure'... how to parse it and default sort...@@

[2016-05-17 22:10] nolanw commented on #68
I'm not totally sure what you're looking for, but if you'd like the `p` tags that come immediately before a `figure` tag, you might do something like:
[code]
I'm just typing this in without trying it, so hopefully it almost compiles and sparks an idea for you.

There's also the CSS selector `figure + p` which would get you the `p` tags that come right after a `figure`.

[2016-05-31 03:44] passol1988 commented on #45
same issue happened

[2016-05-31 22:37] nolanw commented on #45
@passol1988 can you share any reproduction steps? I had a hard time reproducing the error before.

[2016-06-14 07:54] ssk7833 commented on #44
Have the same issue, just need to add HTMLReader source code into TargetSettings -> Build Phases -> Compile Sources and rebuild.

http://stackoverflow.com/a/9438843/4968420

[2016-07-02 21:42] nolanw commented on #68
I'll assume the thumbs-up means you're all set, so I'ma close this issue. Please feel free to reopen or open a new issue as needed!

[2016-07-02 21:42] #68 closed

[2016-07-02 21:44] nolanw commented on #65
Gonna close this for now, but I'm guessing I just broke things again for you @leolobato by rearranging the folder structure. Please reopen if you get stuck!

[2016-07-02 21:44] #65 closed

[2016-07-02 21:46] nolanw commented on #46
As eager as I am to hear the end of this story, I think any extra functionality described here doesn't belong in HTMLReader proper.

[2016-07-02 21:46] #46 closed

[2016-09-26 14:46] nishabe opened #69 "Parsing DOM"
Hi,
This is more of a question than an issue.
How do I use this library to search for a specific div and store the child element values to a model class instances?

As an example my HTML is a collection of divs as below.
[code]

Please help.

[2016-09-26 23:13] nolanw commented on #69
Hello! You'll want to do something like this:

[code]

You can find the elements you want using CSS selectors (above we just look for the elements named `<a>` but you can get much fancier if you need), and the elements you find have helpful properties like `attributes` and `textContent`.

Is that helpful?

[2016-09-27 09:04] nishabe commented on #69
Thank you very much, Nolan. It really helped a lot. As you suggested, CSS selectors are used.
Adding my working ObjC code block below for the benefit of others:

`
// Parsing the response
    HTMLDocument *aDocument = [HTMLDocument documentWithString:string];
    NSArray *nodes = [aDocument nodesMatchingSelector:(@"h3[class^=\"r\"] > a")];
    if (nodes.count>0) {
        self.searchResults = [NSM

[2016-10-02 12:53] Dids opened #70 "Broken pod"
Since the headers are in the include/ folder, cocoapods/Xcode is unable to find them without adding include/ to pretty much all of the files.

[2016-10-02 13:30] nolanw commented on #70
Hello! Can you share the error you're getting? What version of HTMLReader are you using?

Just now, I:

* Made a new Xcode project
* Did `pod init`
* Added `pod 'HTMLReader'`
* Did `pod install`

and everything seemed to be in order, with all the headers correctly appearing in the Pods project.

[2016-10-02 13:31] nolanw commented on #69
Happy to help! And thanks for posting your working code, too many people skip that step.

[2016-10-02 13:31] #69 closed

[2016-10-02 13:34] nolanw commented on #59
Still seems to be broken.

[2016-10-02 13:52] #59 closed

[2016-10-02 14:09] Dids commented on #70
Added `pod 'HTMLReader'` and did `pod update`, which results in this:

[code]

I'll dig around, see if it's a project specific issue, or specific to the version of cocoapods(1.1.0.rc.2).

[2016-10-02 14:16] nolanw commented on #70
Sounds good, thank you. And sorry for the inconvenience!

[2016-10-02 14:24] Dids commented on #70
No worries, found the issue!

Specifically the filenames `HTMLParser.h/m` and `HTMLNode.h` were clashing with a different library I'm using, [BRYHTMLParser](https://github.com/irace/BRYHTMLParser). Neither library uses prefixed class names, so I guess it was only a matter of time. :P

[2016-10-02 14:25] nolanw commented on #70
Ah, that's annoying.

(I cheekily wanted to claim HTML as a prefix. Not super surprised that failed.)

[2016-10-02 14:44] Dids commented on #70
Added a quick PR to the other lib, using a fork of it for now. :)

[2016-10-02 14:44] #70 closed

[2016-11-03 16:59] guojiubo opened #71 "Nullable to nonnull warning"
I just clone the repo and try to build with Xcode 8(8A218a), it fails with an error `Implicit conversion from nullable pointer 'NSURL * _Nullable' to non-nullable pointer type 'NSURL * _Nonnull'`

[code]

I noticed there's a `CLANG_WARN_NULLABLE_TO_NONULL_CONVERSION` option set to YES in build settings. Since `[NSURL URLWithString:..]` returns a nullable result and `[NSData dataWithContentsOfURL:.

[2016-11-04 22:54] #71 closed

[2016-11-04 22:56] nolanw commented on #71
Thanks! As you can probably guess, it's been some time since I ran the EncodingLabeler.

Out of curiosity, may I ask why you were building that target? It's not necessary to use HTMLReader. I hope it wasn't confusing!

[2016-11-18 01:03] f1rstmistake opened #72 "Elements after self-closing tag will be added as child of previous tag"
Hi,

In my experiment, this html `<td><div style="clear: both;" /><img src="abc.jpg" /></td>` will add image element as child of the div instead of td. Is this a bug?

Thanks for the awesome component!

Cheers,
Joe

[2016-11-20 00:00] nolanw commented on #72
Hello! By my interpretation of the spec, I believe it is correct behaviour for the `img` element to end up a child of the `div`.

The brief explanation is that there are only a handful of tags that are considered self-closing in HTML, and `div` is not one of them, so your noble attempt to make a self-closing `div` is unfortunately for naught.

The longer explanation involves diving into the spec,

[2016-12-13 03:39] shvets opened #73 "Does not work with latest SPM"
1. Requires to rename Tests into HTMLReaderTests

2. after renaming an regenerating project (swift package generate-xcodeproj) it returns error:

~//work/projects/swift/MyAPI/Packages/HTMLReader-2.0.1/Sources/HTMLNode.m:22:1: Cannot synthesize weak property in file using manual reference counting

when you open project in xcode.

[2016-12-22 16:17] nolanw commented on #73
Hello! I haven't looked into this yet. But I plan to, and wanted to tell you that I'm not ignoring you!

[2017-01-15 21:29] nolanw commented on #73
I've moved the tests folder so that part should be ok now.

As for the other problem, that should go away if you do `swift package generate-xcodeproj -Xcc -fobjc-arc`. I've updated the readme to make this more clear.

[2017-01-16 02:52] nolanw commented on #73
@shvets I just pushed version 2.0.3 which seems to work nicely with the version of Swift Package Manager that comes with Xcode 8.2.1. Just make sure to pass those extra flags when you generate your Xcode project and you should be all set! Let me know if you run into any issues.

[2017-01-16 02:52] #73 closed

[2017-02-10 15:22] herau commented on #59
@nolanw
I use the cocoapods version (2.0.3) but i don't have your fix f021921.
Do you know when a new release will be available please ?

Thanks

[2017-02-10 15:28] nolanw commented on #59
@herau that commit should absolutely be there in CocoaPods version 2.0.3. After you `pod install` do the source files in `Pods/HTMLReader` have the correctly-spelled `#if !__has_feature(objc_generics)` line? If they do, can you try clearing your `DerivedData` folder and rebuilding?

[2017-02-10 15:31] herau commented on #59
i don't find any `#if !__has_feature(objc_generics)` stuff in the `Pods/HTMLReader`.

if you check the HTMLElement.m file in the 2.0.3, it doesn't contains your code from f021921.

https://github.com/nolanw/HTMLReader/blob/v2.0.3/Sources/HTMLElement.m#L40

[2017-02-10 16:13] nolanw commented on #59
@herau It's the `.h` that affects how Swift imports the type and the change is present there: https://github.com/nolanw/HTMLReader/blob/v2.0.3/Sources/include/HTMLElement.h#L39

The `.m` doesn't affect anything but the mismatch is confusing so I'll fix that up. I don't think it'll solve your problem though.

Are you getting a Swift compile error when you try to subscript an HTMLElement instance?

[2017-02-10 16:16] herau commented on #59
yes swift compile error `Error:(328, 54) 'objectForKeyedSubscript' is unavailable: use subscripting`

with this kind of code

[code]

[2017-02-10 23:47] nolanw commented on #59
@herau Oh, I see. The Swift importer tries to import Objective-C subscripts as Swift subscripts, and I'd somehow managed to do it wrong and expose `objectForKeyedSubscript` directly. Can you try changing the code you posted to:
[code]
and see how that works?

[2017-02-13 16:37] herau commented on #59
it's works thanks a lot @nolanw

[2017-02-13 17:13] nolanw commented on #59
@herau Happy to hear it! Hope the project turns out well.

[2017-02-21 03:19] tqtifnypmb opened #74 "Can't upload to Itunes bacause of "No CFBundleVersion ""

[2017-02-22 03:50] nolanw commented on #74
Hello! Can you provide any more information, like a screenshot or a copy of the error message you received? How did you add HTMLReader to your project – CocoaPods, Carthage, manually adding files? If you have your .ipa or .xcarchive, can you examine the contents for HTMLReader.framework and double-check that the Info.plist therein has a value for the key CFBundeVersion?

[2017-02-23 00:51] tqtifnypmb commented on #74
Version: 2.0.3

<img width="489" alt="screen shot 2017-02-23 at 8 50 25 am" src="https://cloud.githubusercontent.com/assets/13230385/23239944/3a4611c8-f9a5-11e6-8bbc-5d7f6430911f.png">

[2017-02-23 02:32] nolanw commented on #74
Yep, that's a missing CFBundleVersion! That "Build" field should not be empty.

You can do a quick fix by putting a number in there. I suggest the number `36`, but any number should do.

Can you share how you installed HTMLReader into your project? I'd like to avoid others having this issue in the future.

[2017-02-23 12:06] tqtifnypmb commented on #74
I just fall back to 2.0.2. :p
I installed by Carthage

[2017-03-27 22:27] agisboye opened #75 "Build issues with Xcode 8.3"
I'm having some trouble building HTMLReader with the newly released Xcode 8.3. I'd send you a pull request, but I'm not very familiar with ObjC, I'm afraid, so I'll need to study up first.

[code]

[2017-03-28 10:56] ameingast commented on #75
I've fixed the warnings in #76.

There are 3 tests that fail (even without my changes), so I'm not sure if they were broken by the Xcode upgrade.

[2017-03-28 22:28] #75 closed

[2017-03-28 22:36] nolanw commented on #75
@agisboye I've just pushed version 2.0.4 with @ameingast's fix. Give it a try and let me know how it goes!

[2017-03-29 12:54] agisboye commented on #75
Looks like it did the trick. Thanks!

[2017-03-29 20:08] emelyanova commented on #74
I've got the same issue also. Installed using Carthage also

[2017-04-04 00:56] #74 closed

[2017-04-04 01:01] nolanw commented on #74
@tqtifnypmb @emelyanova I've spotted the problem! Please try version 2.0.5 which I've just pushed. Apologies for the inconvenience.

Alternately, if you would like a quick fix without updating versions:
* Locate HTMLReader's `Info.plist`.
* Find the line `<key>CFBundleVersion</key>`.
* The line immediately after should resemble `<integer>36</integer>`. Change it to `<string>36</string>`.
    * The

[2017-04-15 15:03] EternalPhane commented on #37
@nolanw maybe like [`.strings and stripped_strings`](https://www.crummy.com/software/BeautifulSoup/bs4/doc/#strings-and-stripped-strings) in BeutifulSoup?

[2017-04-18 21:12] nolanw commented on #37
@EternalPhane looks about right. Still not sure if it solves the original issue though.

[2017-05-23 15:24] congsun opened #77 "Class name prefix?"
Hi all the contributors to the HTMLReader project,

Thanks for your hard work on such a great project! I'm suggesting we should put prefix on the class names since HTMLxxx is too general and I'm pretty sure I'm not the only one having naming conflicts with other classes in the project. That would be a lot of work on both sides but I believe it's better for the long run. What do you guys think?

Co

[2017-05-25 22:35] nolanw commented on #77
Hello!

Which projects are you aware of that suffer from name collisions?

I kinda consider `HTML` the class prefix for HTMLReader. When I started this project I looked around to see if anyone else was using it. I didn't find anyone, so I proceeded to use it. Didn't seem too general at the time!

But I'm not surprised to hear that there's some clashing, and in principle I'm for eliminating pointle

[2017-06-19 10:42] ilyakooo0 opened #79 "Carthage Xcode 9 beta build fail"
`Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -project ~/Developer/carthageTest/Carthage/Checkouts/HTMLReader/HTMLReader.xcodeproj -scheme HTMLReader\ iOS -configuration Release -derivedDataPath ~/Library/Caches/org.carthage.CarthageKit/DerivedData/HTMLReader/v2.0.5 -sdk iphoneos ONLY_ACTIVE_ARCH=NO BITCODE_GENERATION_MODE=bitcode CODE_SIGNING_REQUIRED=NO CODE_SIGN_IDENT

[2017-06-19 11:07] ilyakooo0 commented on #79
Fixed by changing
`github "nolanw/HTMLReader"`
to
`github "nolanw/HTMLReader" "master"`

Must be a Carthage bug.

[2017-06-19 11:07] #79 closed

[2017-06-19 11:44] nolanw commented on #79
I think it's because the fix is on master but I haven't tagged a version yet that includes it. By default Carthage grabs the highest version.

[2017-09-16 09:17] agisboye opened #80 "Xcode 9 build errors"
Xcode 9 has some new defaults with regards to warnings. When building from the HTMLReader.xcodeproj itself, this is not an issue because the new "recommended project settings" have not been enabled for the project. When building with Carthage, however, said project settings are enabled and cause the build to fail.

[code]

[2017-09-17 03:45] nolanw commented on #80
Thanks for the reminder! This was fixed in 808c2ebedc8b044eefc7a46c2dfca593244922e1 but it's well past time I push it out in a release. HTMLReader 2.0.6 should build cleanly for you on Xcode 9.

Please holler back if I did something silly and it's still broken for you!

[2017-09-17 03:45] #80 closed

[2017-09-17 13:37] agisboye commented on #80
Works like a charm. Cheers. 😃

[2017-10-22 19:52] rval commented on #77
I would agree that `HTML` is probably too generic for use as a class prefix, and is likely to cause issues in some projects (e.g., if Apple were to introduce some HTML classes into Swift's standard library). Apple's [Objective-C Conventions](https://developer.apple.com/library/content/documentation/Cocoa/Conceptual/ProgrammingWithObjectiveC/Conventions/Conventions.html) also state that class prefi

[2017-10-22 20:50] nolanw commented on #77
I’m not sure they meant "and only three letter prefixes". The immediate context for the snippet you quote is:

Besides, I can’t think of a reasonable three letters to choose as a prefix ;)

Anyway, my stance is to leave it be until someone can point to a project that’s causing conflicts. Once that happens I’m open to working something out.

[2017-10-24 02:12] rval commented on #77
Totally reasonable. And thank you for this library. It's been completely rock solid and saved me a ton of time!

[2017-10-24 02:13] nolanw commented on #77
You’re quite welcome!

[2018-01-15 02:04] superhos opened #81 "Could HTMLReader detect the page dismiss?"
Sorry for opening an issue to ask this question.
But I can't find any detail document about HTMLReader.
I would like to confirm could HTMLReader detect the page dismiss and how?

Thanks a lot!

[2018-01-15 02:40] nolanw commented on #81
Hi! I’m sorry, I don’t understand what you’re asking.

If you’re describing something that happens on a webpage due to JavaScript, unfortunately HTMLReader won’t be helpful. It can only parse HTML.

If you have a link to a website you’re curious about, I can take a look and maybe give you some ideas.

[2018-04-01 17:24] agisboye opened #82 "Xcode 9.3 build errors"
I'm getting a couple of build errors in Xcode 9.3, all related to string formatting in error messages, when building for ARM (Generic iOS Device). Xcode offers fix-its for all of them but I'm not sure it's the best solution. Would you care to take a look?

First error:
``
HTMLReader-master/Sources/HTMLSelector.m:30:32: Values of type 'NSUInteger' should not be used as format arguments; add an expl

[2018-04-01 18:14] #82 closed

[2018-04-01 18:16] agisboye commented on #82
Cheers!

[2018-04-01 18:17] nolanw commented on #82
Thanks for the heads up! New version hading up to CocoaPods now.

[2018-04-10 00:20] Apocryphon opened #83 "Is it possible to replace a tag with its own innerHTML? Insert HTMLNode.children into parent.mutableChildren?"
I'm looking to replace a tag with all of its own text and HTML content, similar to [unwrap in jQuery](https://stackoverflow.com/questions/4232961/remove-a-html-tag-but-keep-the-innerhtml). Presumably I could do something like:

[code]

However, `insertObjects:atIndexes:` only accepts `NSArray<HTMLNode *> *`, which forces me to use `currentNode.childElementNodes`. Because that array cannot contain

[2018-04-15 14:28] nolanw commented on #83
Hello! I’m not sure I understand 100% so forgive me if I'm off base here.

I think you reached for `childElementNodes` because you needed an `NSArray` but had an `NSOrderedSet`. What you ended up doing is exactly right: ask the ordered set for its contents as an array. (Happily this is cheap; if I recall correctly, the array you get back just proxies the ordered set, there’s no copying going on.)

[2018-04-16 18:12] Apocryphon commented on #83
My main issue with `childElementNodes` is that it doesn't have a variant that returns text nodes, but I suppose `children` is a valid substitute for what I'm trying to achieve. I guess I was just expecting there would be something like a `childNodes` property that would be like `childElementNodes` except with all nodes, but then it would be a bit redundant when `children` exists.

[2018-04-16 22:09] nolanw commented on #83
I think `childNodes` is a good idea. `NSOrderedSet` isn't a very common collection so the weirdness with the `array` property isn't obvious, and I doubt you're the first person to hesitate when looking for an array of child nodes.

I'll keep this issue open while pondering and then probably adding `childNodes`.

[2018-05-30 08:47] lurui1029 commented on #77
I do have a naming conflicts with `pod 'TapjoySDK'` with following message:
----
duplicate symbol _parseNumber in:
    /Users/user/Library/Developer/Xcode/DerivedData/MyProject-dccczrsfcebodlhhgwfuljlwdtfq/Build/Products/Debug-iphoneos/HTMLReader/libHTMLReader.a(HTMLSelector.o)
    Pods/TapjoySDK/TapjoySDK_iOS_v11.12.2/Libraries/Tapjoy.embeddedframework/Tapjoy.framework/Tapjoy(Tapjoy)
ld: 1 duplic

[2018-05-30 14:21] de4me opened #84 "values of type 'NSUInteger' should not be used as format arguments"
HTMLSelector.m:30:32: error: values of type 'NSUInteger' should not be used as format arguments; add an explicit cast to 'unsigned long' instead [-Werror,-Wformat]

Carthage can't build submodule for ChatSecure application. Xcode 9.4 used.

[2018-05-30 14:37] #84 closed

[2018-05-30 17:20] nolanw commented on #84
(Just in case anyone is confused: this warning is fixed in the latest version of HTMLReader, so I’m guessing OP updated their version and that solved the issue.)

[2018-05-30 22:10] nolanw opened #85 ""Duplicate symbol" linker error with TapjoySDK"
From [a comment in issue #77](https://github.com/nolanw/HTMLReader/issues/77#issuecomment-393081588):

/Users/user/Library/Developer/Xcode/DerivedData/MyProject-dccczrsfcebodlhhgwfuljlwdtfq/Build/Products/Debug-iphoneos/HTMLReader/libHTMLReader.a(HTMLSelector.o)
Pods/TapjoySDK/TapjoySDK_iOS_v11.12.2/Libraries/Tapjoy.embeddedframework/Tapjoy.framework/Tapjoy(Tapjoy)

[2018-05-30 22:11] nolanw commented on #77
@lurui1029 I'ma move that to a new issue if that's alright! #85

[2018-05-30 22:20] #85 closed

[2018-05-30 22:21] nolanw commented on #85
@lurui1029 Thanks for the report! I'll push a new version shortly and update this issue when that's done.

[2018-05-30 22:40] nolanw commented on #85
HTMLReader version 2.1.2 is tagged and up on CocoaPods!

[2018-09-28 00:38] nolanw opened #86 "Crash in CFStringGetCharactersPtr"
William Dinkel, via private correspondence, is getting crash logs matching this backtrace:
![](https://user-images.githubusercontent.com/177228/46181626-51a19c80-c29d-11e8-96bd-1a98a0f4b17f.png)

We don't have a copy of or a URL to a document that reproduces the crash, but let's leave this issue open until we get a reproduction.

[2019-06-25 16:41] agisboye opened #87 "Xcode 11 build errors"
When building with Xcode 11 (beta 2), there are three warnings about `long` being implicitly casted to `int`. Carthage treats these warnings as errors, meaning it won't build HTMLReader.

`
.../HTMLReader/Sources/HTMLEncoding.m:394:12: error: implicit conversion loses integer precision: 'NSComparisonResult' (aka 'enum NSComparisonResult') to 'int' [-Werror,-Wshorten-64-to-32]
`

I've worked around

[2019-06-26 00:26] nolanw commented on #87
Hey! Thanks so much, that solution looks great. I cherry-picked it from your fork and just released version 2.1.4. Let me know if it works for you!

[2019-06-26 00:26] #87 closed

[2019-07-11 10:02] agisboye commented on #87
It works great! However, I just noticed that 2.1.3 is still installed when using CocoaPods. Could you push the latest tag? Cheers!

[2019-07-11 14:34] nolanw commented on #87
@agisboye Looks like CocoaPods knows what’s up: https://cocoapods.org/pods/HTMLReader says 2.1.4. Does `pod update HTMLReader` grab 2.1.4?

[2019-07-11 14:47] agisboye commented on #87
I could've sworn it said 2.1.3 earlier. I just did a `pod update` and now it grabs 2.1.4. Huh. 🤷‍♂ Anyway, cheers!

[2020-02-24 08:44] Sweeper777 opened #88 "Combining certain selectors doesn't work"
Selector of the form `x.y ~ z` doesn't seem to work. See this [fiddle](https://jsfiddle.net/w9k1ojnL/1/) for the correct behaviour. The code I used was:

[code]

It prints "3", but I expect "4 5 9" just like in the fiddle.

[2020-02-25 06:22] #88 closed

[2020-02-25 06:23] nolanw commented on #88
@Sweeper777 Yep, that was not at all working correctly. Thank you for reporting the issue! I've fixed it in HTMLReader 2.1.5 which I am releasing right now :)

[2021-07-18 16:35] lzyroot opened #90 "How to save a web page as an html file, including pictures?"
Hello nolanw.

How to save a web page as an html file

the html file contains all the content of the web page, including pictures

[2021-07-18 17:24] nolanw commented on #90
Hello! HTMLReader can do some of the job, but unfortunately it doesn't offer a complete solution. I would say it depends on what you want to save. If it's just the HTML plus images in `<img>` elements, that's not so bad. But there are many, many ways an HTML document can pull in external resources (`<link>`, `<script>`, etc.) and a tool dedicated to preserving the document as a whole is a better b

[2021-07-20 09:52] lzyroot commented on #90
I want to use HTMLReader to save html files, which only contain the text and <img> elements in the webpage. I don’t see how to use it.

[2021-07-24 06:08] nolanw commented on #90
Extending the example from the read me, you might try something like:

[code]

The important part is getting the `serializedFragment` of the document, which is a string that you can save as you please.

My apologies for this not being more obvious!

[2021-07-24 07:58] lzyroot commented on #90
Thanks

[2021-07-24 07:58] #90 closed

[2021-08-01 18:36] nolanw commented on #90
I added an example to the read me, seemed like a good thing to include :)

[2021-12-17 06:12] zhushgo opened #91 "Can jsoup support"
Can jsoup support, Thanks!

[2021-12-17 18:15] nolanw commented on #91
@zhushgo I'm sorry, I don't understand.

[2021-12-30 01:54] zhushgo commented on #91
@nolanw You're welcome.

[2021-12-30 01:54] #91 closed

[2021-12-30 03:27] nolanw commented on #91
If this was a pun, I only just got it :D

[2022-01-11 17:20] MaximeLM opened #92 "Unable to clone project because of deprecated git protocol for submodule"
Hello,

Our CI jobs started to fail today with an error when trying to clone HTMLReader. The error is reproductible with this command:
[code]

[code]

Github is now rejecting the git:// protocol used to fetch the submodule HTMLReaderTests/html5lib: https://github.blog/2021-09-01-improving-git-protocol-security-github/

[2022-04-24 08:31] dragonsKnight5 opened #94 "documentation missing"
I can't seem to find any documentation anywhere, majority of the .m files had little
to no comments within them. Makes it difficult to know what some of the functions
with in actually do.

Additionally, some code usage examples would be helpful. The examples in the root
level README file appear to be swift code, not very useful if required to use
objective-c

Best regards
dragonsKnight5

[2022-04-24 14:04] nolanw commented on #94
@dragonsKnight5 Hello! What documentation we have is mostly in the header files, which are in the [`Sources/include` directory](https://github.com/nolanw/HTMLReader/tree/main/Sources/include). But your point is well taken: your best chance to grok most of the code is keeping [a copy of the specification](https://html.spec.whatwg.org/multipage/#toc-syntax) at hand for reference, and that's pretty i

[2022-04-25 06:59] dragonsKnight5 commented on #94
How do I get a list of elements in a class?
I think it may be HTMLElements's initWithTagName  but I'm still rather confused

Thank you for getting back to me so quickly

[2022-04-25 22:30] nolanw commented on #94
You'll need to make an HTMLDocument, using e.g. `[HTMLDocument documentWithString:]`. Once you have that, you can ask the document for elements that match CSS selectors, including classes. So if you're looking for elements with the class `updog`, you might try

[code]

Let me know if that helps!

[2022-04-26 04:46] dragonsKnight5 commented on #94
That was a big help, thank you very much.

I know the next question is outside the scope of HTMLReader, but I'm hoping you can direct me
to some appropriate resources.
How do I get the processed data out of the NSURLSession instance, I've tried assigning it to a global
NSMutableArray variable but as soon as the NSURLSession finishes the NSMutableArray reverts to
its pre NSURLSession content.

Than

[2022-04-26 12:58] dragonsKnight5 commented on #94
I've worked around the issue using
[code]

I know this is on the main thread which is bad practice but I can't find a way to get the
processed data out of NSURLSession as described in the examples in the your readme
link above

[2022-04-26 14:09] nolanw commented on #94
I suspect the issue is that URLSession does its work in the background and calls you later. For example:

[code]

If you run that, you should see logs in this order:

The completion block is called in the background after the URLSession does its work, so execution in your current queue continues immediately after resuming the task.

I looked around briefly but didn’t find any great NSURLSession tu

[2022-04-27 12:39] dragonsKnight5 commented on #94
Thanks for getting back to me so quickly

to retrieve hyperlinks I think I use the same approach you outlined above just with the
the selector string changed to "a" or "a href" isn't it

[2022-04-27 23:19] nolanw commented on #94
Exactly right. One way to get all the links might be `a[href]`. If you've used CSS before to style webpages, it's the part before the `{` where you say which elements you want styled. The examples at https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Selectors might be helpful too.

[2022-04-28 12:06] dragonsKnight5 commented on #94
with your greatly appreciated help, I've managed to filter down to div's using a
particular class then get the hyperlinks within it, I can't workout how to get url
string out of the htmlelement.

The debugger shows me that the value I want is in attributes _map but nothing
I've tried so far has worked to retrieve it

Thank you for taking the time to help me with this, objective-c isn't my current

[2022-10-02 08:37] trix180 opened #95 "Crash within runAdoptionAgencyAlgorithmForTagName"
Hello,

I'd like to report an out of bound crash within `runAdoptionAgencyAlgorithmForTagName`. The crash is reproducible with the content of this URL http://thegreatstory.org/MD-writings.html or the HTML code below.

[thegreatstory.txt](https://github.com/nolanw/HTMLReader/files/9692069/thegreatstory.txt)

Best Regards.

[2022-10-06 07:05] #95 closed

[2022-10-06 07:38] nolanw commented on #95
Thank you very much for the report! This is fixed in HTMLReader 2.2.1. I'll push the update to CocoaPods later today.

edit: 2.2.1 is now available via CocoaPods.